<div class="json-output">
  <div class="json-header">
    <span class="title">JSON Output</span>
    <div class="actions">
      <button mat-icon-button
              [matTooltip]="copied ? 'Copied!' : 'Copy to clipboard'"
              (click)="handleCopy()">
        <mat-icon>{{ copied ? 'check' : 'content_copy' }}</mat-icon>
      </button>
      <button mat-icon-button
              matTooltip="Download JSON"
              (click)="handleDownload()">
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </div>

  <div class="json-content">
    <pre><code>{{ formattedJson }}</code></pre>
  </div>
</div>
